<div class="login-overlay" [class.active]="isCompliant">
  <div class="login-form">
    <div class="form-header">
      <h2>LOGIN</h2>
    </div>
    <form class="form-content">
      <div class="input-group">
        <label for="username">USERNAME</label>
        <input type="text" id="username" placeholder="Input your username">
      </div>
      <div class="input-group">
        <label for="password">PASSWORD</label>
        <input type="password" id="password" placeholder="Input your password">
      </div>
      <div class="form-actions">
        <button type="submit" class="cancel-btn">REGISTRATION</button>
        <button type="submit" class="login-btn">ENTER</button>
        <button type="button" class="cancel-btn" (click)="closeForm()">CANCEL</button>
      </div>
    </form>
  </div>
</div>
