* {
  margin: 0;
  padding: 0;
}

.glass {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

@media (max-width: 686px) {
  .mobile-hidden {
    display: none;
  }
}

@media (min-width: 687px) and (max-width: 1171px) {

}

@media (min-width: 1172px) {

}
