<div class="main-container">
  <header class="glass">
    <div class="header-container">
      <p class="header-item logo">LAB 4</p>
      <p class="header-item">safarislava</p>
      <p class="header-item">variant 467570</p>
    </div>
  </header>
  <main>
    <div class="graph-section">
      <div class="graph-container glass">
        <app-points-area/>
      </div>
      <form [formGroup]="pointForm" class="input-container" (ngSubmit)="shootAction()">
        <div class="input-form glass">
          <h2 class="form-title">POINT PARAMETERS</h2>
          <div class="input-group">
            <label class="input-group-label" for="x-data">Coordinate X</label>
            <input type="number" id="x-data" formControlName="x" placeholder="Enter X" required>
            @if (x?.invalid && x?.touched) {
              <div class="error-message">
                @if (x?.errors?.['required']) {
                  <p>X is required</p>
                }
                @if (x?.errors?.['pattern']) {
                  <p>Invalid format</p>
                }
              </div>
            }
          </div>
          <div class="input-group">
            <label class="input-group-label" for="y-data">Coordinate Y</label>
            <input type="number" id="y-data" formControlName="y" placeholder="Enter Y" required>
            @if (y?.invalid && y?.touched) {
              <div class="error-message">
                @if (y?.errors?.['required']) {
                  <p>Y is required</p>
                }
                @if (y?.errors?.['pattern']) {
                  <p>Invalid format</p>
                }
              </div>
            }
          </div>
          <div class="input-group">
            <label class="input-group-label" for="r-data">Coordinate R</label>
            <input type="number" id="r-data" formControlName="r" placeholder="Enter R" required>
            @if (r?.invalid && r?.touched) {
              <div class="error-message">
                @if (r?.errors?.['required']) {
                  <p>R is required</p>
                }
                @if (r?.errors?.['pattern']) {
                  <p>Invalid format</p>
                }
              </div>
            }
          </div>
          <div class="send-form">
            <button type="submit">SHOOT</button>
          </div>
        </div>
      </form>
    </div>
  </main>
  <footer>
    <div class="table-container">
      <table class="glass">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">X</th>
          <th scope="col">Y</th>
          <th scope="col">R</th>
          <th scope="col">HIT</th>
          <th scope="col">CALCULATION TIME</th>
          <th scope="col">WHEN</th>
        </tr>
        </thead>
        <tbody id="results-tbody">

        </tbody>
      </table>
    </div>
  </footer>
</div>
