<div class="main-container unselectable">
  <div class="background">
    <div class="crop-video">
      <video id="background-video" loop muted playsinline preload="none">
        <source src="/assets/videos/footage.mp4"/>
      </video>
    </div>
  </div>
  <main class="container">
    <div class="top-nav">
      <div class="logo">
        <img ngSrc="/assets/images/Red_Dead_Redemption_2_Logo.png" alt="" height="348" width="960"/>
      </div>
    </div>
    <div class="window"></div>
    <div class="bottom-nav">
      <div class="button-container">
        <p>Press any key to continue</p>
        <div class="button-image">
          <img ngSrc="/assets/images/key_empty.png" alt="" height="512" width="512"/>
          <svg class="progress-rect" viewBox="0 0 50 50">
            <rect x="5" y="5" width="40" height="40" rx="5" ry="5" [attr.stroke-dashoffset]="progressOffset" />
          </svg>
        </div>
      </div>
    </div>
  </main>
  <app-form></app-form>
</div>
