* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --header-height: 75px;
    --footer-height: 50px;
    --accent-color: #3498db;
    --dark-accent-color: #144b6c;
    --transparent-accent-color: rgba(52, 152, 219, 0.5);
    --light-transparent-accent-color: rgba(52, 152, 219, 0.2);
}

a, a:link, a:visited{
    text-decoration: none;
}

body {
    background-image: url(#{request.contextPath}/resources/image/background-star-wars.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background: rgba(50, 50, 50, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 20px;
    margin: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 50px;
}

.header-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
}

.header-item {
    color: white;
    font-family: 'Star Jedi Outline', sans-serif;
    font-size: 26px;
}

.header-item:hover {
    color: var(--accent-color);
}

.logo {
    font-size: 32px;
}

.graph-section {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-bottom: 40px;
    padding: 0 50px 0 50px;
}

.graph-container {
    display: flex;
    background: rgba(50, 50, 50, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 50px;
    padding: 20px;
    flex: 1;
    min-width: 440px;
    max-width: 500px;
    align-items: center;
}

#graph {
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
}

text.graph-item {
    fill: white;
    font-family: "Arial", serif;
    font-size: 16px;
}

path.graph-item {
    fill: var(--transparent-accent-color);
    stroke: var(--accent-color);
    stroke-width: 2px;
}

circle.graph-item {
    fill: white;
}

polygon.graph-item {
    fill: white;
}

line.graph-item {
    stroke: white;
    stroke-width: 1px;
}

.input-form {
    background: rgba(50, 50, 50, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 40px;
    border-radius: 50px;
    flex: 1;
    min-width: 400px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group-label {
    color: white;
    text-align: center;
    font-weight: bold;
}

.form-title {
    text-align: center;
    color: white;
    margin-bottom: 10px;
    font-weight: 600;
}

.form-title::after {
    content: "";
    display: block;
    width: 75%;
    height: 3px;
    background-color: white;
    margin: 10px auto 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-group label {
    color: white;
    font-size: 16px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 5px;
    align-items: center;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.input-group input[type=radio]{
    margin: 3px 0 3px 7px;
}

.input-group input[type="text"] {
    padding: 12px 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
}

#problem-label {
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
}

.send-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send-button {
    background: var(--accent-color);
    color: white;
    border: none;
    padding: 14px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    transition: all 0.3s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.send-button:hover {
    transform: scale(1.05);

}

.table-container {
    width: 100%;
    overflow-x: auto;
    margin: 20px 0 0 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.point-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
    backdrop-filter: blur(8px);
    background: rgba(25, 25, 25, 0.2);
    -webkit-backdrop-filter: blur(8px);
    color: white;
}

.point-table th, .point-table td {
    padding: 15px;
    text-align: center;
    white-space: nowrap;
}

.point-table tr {
    background: rgba(25, 25, 25, 0.2);
}

.point-table th {
    font-weight: 500;
    position: sticky;
    top: 0;
}

.point-table tbody tr:nth-child(odd) {
    background: rgba(25, 25, 25, 0.1);
}

.point-table tbody tr:hover {
    background: var(--light-transparent-accent-color);
}
