* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --header-height: 75px;
    --footer-height: 50px;
    --accent-color: #3498db;
    --dark-accent-color: #144b6c;
    --transparent-accent-color: rgba(52, 152, 219, 0.5);
    --light-transparent-accent-color: rgba(52, 152, 219, 0.2);
}

a, a:link, a:visited{
    text-decoration: none;
}

#footage {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#yoda-dvd {
    position: fixed;
    scale: 0.5;
    transform-origin: 0 0;
}

#yoda-dvd img {
    display: block;
}

.content {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background: rgba(50, 50, 50, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 20px;
    margin: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 50px;
}

.header-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
}

.header-item {
    color: white;
    font-family: 'Star Jedi Outline', sans-serif;
    font-size: 26px;
}

.header-item:hover {
    color: var(--accent-color);
}

.logo {
    font-size: 32px;
}

.main-container {
    text-align: center;
    padding: 30px;
}

.analog-clock {
    background: rgba(50, 50, 50, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 0 20px 20px var(--light-transparent-accent-color);
    border: 5px solid var(--transparent-accent-color);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.hour-hand, .minute-hand {
    position: absolute;
    transform-origin: bottom center;
    bottom: 50%;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%) rotate(0deg);
}


.hour-hand img {
    transform-origin: left center;
    width: 200px;
    height: auto;
    transform: rotate(-90deg);
}

.minute-hand img {
    transform-origin: left center;
    width: 275px;
    height: auto;
    transform: rotate(-90deg);
}

.hour-hand {
    width: 0;
    height: 0;
    z-index: 11;
}

.minute-hand {
    width: 0;
    height: 0;
    z-index: 12;
}

.hour-marker {
    position: absolute;
    color: white;
    font-family: 'Star Jedi Outline', sans-serif;
    font-size: 26px;
    z-index: 5;
    text-shadow: 0 0 5px var(--accent-color);
}

.hour-12 {
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.hour-3 {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.hour-6 {
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.hour-9 {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.redirection-container {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redirection-button {
    background: var(--accent-color);
    color: white;
    border: none;
    padding: 14px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.redirection-button:hover {
    transform: scale(1.05);
}